# Sistema y dependencias
.DS_Store
Thumbs.db
node_modules/

# Entorno de variables, certificados y secretos
.env
*.env.local
*.key
*.pem
*.pfx
*.secret
secrets/
certs/

# Docker Local Overrides y datos de volumen local
docker-compose.override.yml
data/
mysql_data/
n8n_data/

# Logs y temporales
*.log
tmp/
temp/
