pandas>=2.0.0
numpy>=1.23.0
numba>=0.56.0
vectorbt>=0.28.2
yfinance
finvizfinance
SQLAlchemy
python-telegram-bot
streamlit
scipy
pyarrow
optuna
scikit-learn
plotly
matplotlib
duckdb
lightgbm
psutil
python-dotenv
colorlog